:focus {
  outline: none; /* Remove the default browser outline */
  border: 2px solid #2f1253; /* Add a custom border color */
  box-shadow: 0 0 5px #81f88f; /* Add a subtle glow effect */
  background-color: #a8c0db; /* Slightly change the background color */
  transition: all 0.3s ease-in-out; /* Smooth transition effect */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #e83406, #0988ea);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #8cd7e4;
  border-radius: 5px;
}

.search-container {
  position: relative;
  width: 300px;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 40px;
  width: 100%;
  background: rgb(248, 182, 0);
  border: 1px solid #eae8ee;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 100;
  display: none;
}
ul.has-suggestions {
  display: block; /* Show when there are suggestions */
}

ul li {
  padding: 10px;
  cursor: pointer;
}
ul li:hover {
  background: #fd820f;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #fd0404;
  border-radius: 5px;
}

strong {
  font-weight: bold;
}
